# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.claude/

.env
reviewer_comments.md

# Data files
*.parquet
*.jsonl
*.arrow

# Build stuff
build/
dist/
*.egg-info/

# Virtual environment
.venv/

# Other Folders

GPT-2/Models/
datasets/
wandb/
GPT-2/GPT-2/
GPT-2/roughnote.ipynb
cheatsheet.md