# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.claude/

.env
reviewer_comments.md

# Parquet files
*.parquet

# Build stuff
build/
dist/
*.egg-info/

# Virtual environment
.venv/

# Other Folders

Models/
datasets/
wandb/
GPT-2/GPT-2/

cheatsheet.md