# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.claude/

.env
reviewer_comments.md

# Data files
datasets/
*.parquet
*.jsonl
*.arrow

# Build stuff
build/
dist/
*.egg-info/

# Virtual environment
.venv/


# Models
GPT-2/Models/
SAE/output/
SAE/wandb/
SAE/roughnote.ipynb
1LayerModel/Models/
1LayerModel/Checkpoints/

# Other Folders
wandb/
GPT-2/GPT-2/
GPT-2/roughnote.ipynb
cheatsheet.md